  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom">
      <a [routerLink]="[ '/home' ]" routerLinkActive="active">Gamezonia</a>
    </div>
    <div class="list-group list-group-flush">
        <a *ngFor="let item of menuItems"
           class="list-group-item list-group-item-action list-group-item-light p-3"
           [routerLink] = "item.url" ><i [class]="item.icon"></i>
           {{item.label}}
        </a>
    </div>
</div>
