<footer>
  <hr>
  <div class="container text-center">
    <address>Gamezonia 2020 - ¡¡Video juegos al mejor precio
      <p>Calle 70 2365 (cundinamarca) <br>
      Tel: 7247096 / 2302418 - contacto: carlosedugoc@gmail.com
      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="" >Contacta con nosotros</a>
      </p>
    </address>
    <ul class="social nav justify-content-center" >
      <li>
        <a href="https://youtube.com" target="_blank">
          <img src="/assets/img/icons/youtube.png" alt="Youtube">
        </a>
      </li>

      <li>
        <a href="https://facebook.com" target="_blank">
          <img src="/assets/img/icons/facebook.png" alt="Facebook">
        </a>
      </li>

      <li>
        <a href="https://twitter.com" target="_blank">
          <img src="/assets/img/icons/twitter.png" alt="Twitter">
        </a>
      </li>
    </ul>
  </div>
</footer>
